/*-------------------------------------------Start Section---------------------------------------------*/

/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/

body {
  background-color: #909b8c;
  font-family: 'Cormorant Infant', serif;
  font-size: 24px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero span{ display: block;}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 25px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}


/*setting images to full-width*/
img {
  width:100%;}


/*change the default link color to your primary color (copied from your comments at the top of the document)*/
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #d5b5d4;
  text-decoration: underline; /* Underlining when hovering over a link */
}

/*style the current nav item green*/
.active a {
    color: rgb(0, 0, 0);
}

a:active { /* selected link */
  color: rgb(0, 0, 0);
}

/*Pseudo classes for Accessibility for Across the Web*/
a:hover,
a:focus {
  color: #0705aa;
  text-decoration: underline;
}


/*CSS code for the button class*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #756248;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

/*button class hover and active state*/
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}


/*button rules for the mailto button*/
.button.contact {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #3f3c37;
}

/*button class hover and active state*/

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.contact:active {
  background-color: #ff7f50;
  color: #ffffff;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/

/*style the <header> element*/
header {
  background-color: #8eae86;
  text-align: center;
  padding: 99px; /*padding was 10px 0 */
  position: relative;
  box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/*style the logo*/
header .logo {
  max-width: 250px;
}

/*Navigation Styling*/
nav {
  display: inline-block;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #8eae86;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.social img {
  height: 32px;
  width: 32px;
}
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  .row:after {
    content: "";
    clear: both;
    display: table;
  } /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 2px solid #4a4a4a; }
          

   /*----Media/Animations*/

   @media only screen and (min-width: 640px) 
   { header {
        text-align: unset;
        padding: 20px 0 13px;}
      nav{
        width: auto;
        float: right;
        margin-top: 4px;}
        .col-md-6 {
          width: 50%;
        [class*="col-"] 
          [float: left;]   }}

@media only screen {(min-width: 1024px)}

@media screen (min-width: 1440px) {}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes color-change {
  from {fill: #994c30;}
  to {fill: #0705aa;}}

  .tech {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
