body { background-color: #909b8c;
font-size: 24px;
font-family:'Cormorant Infant', serif ;
 font-weight: 300;}
img {width: 100;}

h1, h2, h3, h4 {
    line-height: 1.4;}
  
    h1 {
        color: black;
        font-weight: 400;
        font-style: italic;
        text-align: center;
    font-size: 42px;
    text-decoration: underline;
    font-family:'Cormorant Infant', serif}

    #hero h1 {
        text-align: center; /* Centers text */
      }

      h2 {
        color: black;
        font-weight: bold;
        font-size: 30px;
        font-family: 'Cormorant Infant', serif;}

        h3{
            color: black;
            font-weight: bold;
        font-size: 25px;
        text-align: center;
        font-family: 'Cormorant Infant', serif}
        
        h4 {font-weight: bold;
        font-size: 22px}

        p{
     color: black;
      font-size: 24px;
      font-weight: lighter;
      line-height: 1.4  }

        a {
            color: #000000;
            text-decoration: none; /* No underlining */
          }
          a:hover {
            color: rgb(213, 181, 212);
            text-decoration: underline;}
        
          
          /*style the current nav item green*/
          .active a {
            color: rgb(0, 0, 0);}
        
          
          a:active { /* selected link */
            color: rgb(0, 0, 0); }
            a:hover,
a:focus {
    color: rgb(7, 5, 170);
  text-decoration: underline;}

  /* button below*/
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #756248;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  
  /*button class hover and active state*/
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  
  .button:active {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  
  
  /*button rules for the mailto button*/
  .button.contact {
    background-color: transparent;
    color: white (221, 24, 24);
    text-transform: uppercase;
    border: 2px solid#3f3c37;}

    .button:hover {
        opacity: 0.8; /* Reduces the opacity of the button to 80% */
        text-decoration: none; }
      
      .button:active {
        opacity: 0.8; /* Reduces the opacity of the button to 80% */
        text-decoration: none;}

        /* mailto button */
        .button.contact {
            background-color: transparent;
            color: white (221, 24, 24);
            text-transform: uppercase;
            border: 2px solid#3f3c37;}
          
          /*button class hover and active state*/
          
          .button.contact:hover {
            background-color: #ff7f50;
            color: #ffffff; }
          
          .button.contact:active {
            background-color: #ff7f50;
            color: #ffffff;}
          

   



